/*
 * NORD THEME
 *
 * See https://www.nordtheme.com
 */

/*
 * Polar Night
 *
 * See https://www.nordtheme.com/docs/colors-and-palettes#polar-night
 */
@define-color nord0  #2E3440;
@define-color nord1  #3B4252;
@define-color nord2  #434C5E;
@define-color nord3  #4C566A;

/*
 * Snow Storm
 *
 * See https://www.nordtheme.com/docs/colors-and-palettes#snow-storm
 */
@define-color nord4  #D8DEE9;
@define-color nord5  #E5E9F0;
@define-color nord6  #ECEFF4;

/*
 * Frost
 *
 * See https://www.nordtheme.com/docs/colors-and-palettes#frost
 */
@define-color nord7  #8FBCBB;
@define-color nord8  #88C0D0;
@define-color nord9  #81A1C1;
@define-color nord10 #5E81AC;

/*
 * Aurora
 *
 * See https://www.nordtheme.com/docs/colors-and-palettes#aurora
 */
@define-color nord11 #BF616A;
@define-color nord12 #D08770;
@define-color nord13 #EBCB8B;
@define-color nord14 #A3BE8C;
@define-color nord15 #B48EAD;


/*
 * General settings
 */

* {
  font-family: 'Fira Code Retina', 'Font Awesome 5 Free', monospace;
  font-size: 12px;
  text-shadow: none;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  color: @nord4;
  background: @nord1;
}


/*
 * Modules: left side
 */

#workspaces button {
  padding: 0 10px;
  color: @nord4;
  text-shadow: inherit;
  background: @nord1;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button.focused {
  background: @nord2;

  box-shadow: inset 0 -3px @nord10;
}

#workspaces button:hover:not(.focused) {
    background: @nord3;
    box-shadow: inset 0 -3px @nord8;
}

#workspaces button.urgent {
  box-shadow: inset 0 -3px @nord13;
}


/*
 * Modules: center
 */

#custom-weather {
  font-family: 'Fira Code Retina', 'weathericons', monospace;
  margin: 0 0 0 24px;
  padding: 0;
}


/*
 * Modules: right side
 */

#pulseaudio,
#network,
#temperature,
#cpu,
#memory,
#disk,
#battery {
  margin: 0 6px;
  padding: 0 6px;
  background: @nord1;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

#custom-poweroff {
  padding: 4px 6px 2px 2px;
  border: none;
}

#temperature.warning,
#cpu.warning,
#memory.warning,
#battery.warning {
  background: @nord2;
  border-bottom-color: @nord13;
}

#temperature.critical,
#cpu.critical,
#memory.critical,
#battery.critical {
  background: @nord2;
  border-bottom-color: @nord11;
}

#battery.charging {
  background: @nord2;
  border-bottom-color: @nord14;
}


/*
 * Tooltips
 */

tooltip {
  margin-top: 20px;
  color: @nord6;
  background: @nord2;
  border: 2px solid @nord2;
  border-radius: 5px;
}

tooltip * {
  padding: 1px 2px;
  color: @nord6;
}
