/* #window
The name of the window itself.

#outer-box
The name of the box that contains everything.

#input
The name of the search bar.

#scroll
The name of the scrolled window containing all of the entries.

#inner-box
The name of the box containing all of the entries.

#img
The name of all images in entries displayed in image mode.

#text
The name of all the text in entries.

#unselected
The name of all entries currently unselected. A better way of doing this is to  do
#entry and combine that with #entry:selected

#selected
The  name  of  all entries currently selected. A better way of doing this is to do
#entry:selected

.entry
The class attached to all entries. This is attached to the inside property box and
is old, you probably want #entry instead

#entry
The name of all entries. */


#window {
  margin: 0px;
  padding: 111px 211px;
  border: 2px solid #4c566a;
  border-radius: 5px;
  background-color: #3b4252;
  font-family: 'Fira Code Retina';
  font-size: 14px;
}


#outer-box {
  margin: 5px;
  border: none;
  background-color: #3b4252;
}

#input {
  margin: 5px;
  border: 1px solid #3b4252;
  color: #eceff4;
  background-color: #3b4252;
}

#input image {
  color: #eceff4;
}

#scroll {
  margin: 0px;
  border: none;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #3b4252;
}

#img {

}
expander, list {
  background-color: #4c566a;

}




#text {
  margin: 5px;
  border: none;
  color: #eceff4;
}
#unselected {

}
#entry:selected {
  background-color: #4c566a;
  font-weight: normal;
}

#text:selected {
  background-color: #4c566a;
  font-weight: normal;
}

#text {

}
